<div class="pl-5">
  <b> Resource Leveling Within the Limits of Available Float:  </b>
</div>
<div style="padding-left:10%; padding-right: 10%">
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [plotOptions]="chartOptions.plotOptions"
    [xaxis]="chartOptions.xAxis"
  ></apx-chart>
</div>

<div style="margin-left: 2%; font-size: larger">
  <i>Critical Path: <span *ngFor="let act of getCriticalActivities()">{{act.code}}&nbsp;&nbsp;</span></i> <br>
  <b>Project Completion Time:</b> {{projectCompletionTime}} days
</div>

<div style="padding: 10px 10px">
  <table class="table">
    <thead style="background-color: orange">
    <tr>
      <th scope="row">Day</th>
      <th *ngFor="let d of [].constructor(projectCompletionTime); index as i">{{i+1}}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row" style="background-color: orange">Daily R</th>
      <td *ngFor="let d of getDailyR()">{{d}}</td>
    </tr>
    <tr>
      <th scope="row" style="background-color: orange">&sum; R</th>
      <td *ngFor="let d of getSumR()">{{d}}</td>
    </tr>
    <tr>
      <th scope="row" style="background-color: orange">Daily R<sup>2</sup></th>
      <td *ngFor="let d of getDailyRsqr()">{{d}}</td>
    </tr>
    <tr>
      <th scope="row" style="background-color: orange">&sum; R<sup>2</sup></th>
      <td *ngFor="let d of getSumRsqr()">{{d}}</td>
    </tr>
    </tbody>
  </table>
</div>
