<div style="padding: 30px">

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">No. of Activities</span>
    </div>
    <input type="number" min="0" placeholder="0" [(ngModel)]="activityNumber">
    <button class="ml-2 mr-2 btn btn-primary" (click)="onClickOk()"> Ok </button>
  </div>

  <div *ngIf="isActivityNumberGiven">
    <form [formGroup]="formActivities"  (ngSubmit)="onProcess()">
    <button class="btn btn-primary" type = "submit">
      Process
    </button>
      <table class="table" formArrayName="activities">
        <thead>
        <tr>
          <th scope="col">Activity Code</th>
          <th scope="col">Predecessors</th>
          <th scope="col">Duration</th>
          <th scope="col">Resources</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let element of formActivities.get('activities').controls; index as i" [formGroupName]="i">
          <th scope="row">{{element.value.code}}</th>
          <td>
            <ng-select  multiple="true" style="margin-top: -15px" formControlName="predecessors">
              <ng-option *ngFor="let activity of getOtherActivities(element.value); index as j"
                         [value]="activity.code">
                {{activity.code}}
              </ng-option>
            </ng-select>
          </td>
          <td>
            <input type="number" min="0" formControlName="duration">
          </td>
          <td>
            <input type="number" min="0" formControlName="resources">
          </td>

        </tr>
        </tbody>
      </table>
    </form>
  </div>

</div>
